body {
    font-family: "Manrope", "roboto";    
    box-sizing: border-box;
    background-image: linear-gradient(to right, #dce773, white);
    overflow: hidden;
   
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 0px;    
    width: 50%;          
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


div.icon-div{
    font-size: 1.4em;
    color: black;
    font-weight: 900;    
    font-style: italic;
    text-align: center;  
    padding-right: 2%;
}

img.logo-image{    
    padding-right: 10%;
}


.custom-shape-divider-bottom-1713862518 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1713862518 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 600px;
}

.custom-shape-divider-bottom-1713862518 .shape-fill {
    fill: #dce773;
}



.title{
    position: relative;
    top: 70px;
    color: #038c7c;
    font-size: 25px;    
    font-weight: 900px; 
    left: 260px; 
}


.table-view-2{   
    position: relative;
    top: 60px;
    left: 200px;
    width: 800px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    border: solid 2px;
    border-color: #bad8db;
}

.image{
    position: relative;
    top: 10px;
    left: -150px;
}

.log-out{    
    font: 1rem "Manrope";     
    color: #038c7c;
    position: relative;
    left: 42px;
    bottom: -217px;
    height: 20px;
    width: 40px;
    background: none;
    border: none;
}

.log-out:active{
    bottom: -214px;
    background: none;
    color: #038c7c;
    opacity: 0.8;
}

.button-holder {
    position: fixed;
    top: 65%; 
    left: 26%;        
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}


.button-holder button {    
    font: 1rem "Manrope";               
    border-radius: 20px;    
    border: solid 1px;
    border-color: #9eaaac;
    background-color: #038c7c;
    color: white;    
    margin: 50px; 
    position: relative;
    opacity: 0.9;
    
}

button:hover {
    opacity: 1;
    cursor: pointer;
    
    }

button:active{
    background: #038c7c;
    color: white;
    top: +1%;
    opacity: 0.8;
    
}

.label{
    
    top: 100%;
    left:215px;
    color: black;
    font: 1rem "Manrope";          
    position: absolute;
}
.label2{
    top: 100%;
   left:45px;
    color: black;
    font: 1rem "Manrope";      
    
    position: absolute;
}
.label3{
    top: 100%;
    left:390px;
    color:black;
    font: 1rem "Manrope";      
    position: absolute;
}

.image-botton{
    top: 50%;
    left: 50%;
    transform: translate(0%, 2.5%);   
    
}